/********************************************
==============default properties=============
********************************************/
html {
  height: 100%;
}

html body {
  font-family: 'Source Sans Pro', sans-serif;
  background: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}
